@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:ital,wght@0,400;0,500;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: #445069;
    box-sizing: border-box;
}

header {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0px 24px;
}

header .title {
    height: 32px;
    margin-right: auto;
    display: inherit;
}

header .nav-bar {
    list-style-type: none;
    display: inherit;
}

header .nav-bar li {
    margin-left: 16px;
}

.hero {
    background-color: #DDE6ED;
    padding: 32px 0px 32px 24px;
    display: flex;
    column-gap: 24px;
}

.hero img {
    width: 60%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    justify-content: center;
    font-size: x-large;
}

.hero-content button {
    padding: 8px;
    background-color: #445069;
    color: white;
    font-weight: lighter;
}
.hero-content .secondContent{
    font-size: smaller;
}

.hero-content .secondContent h4 {
    font-weight: 450;
}

.information {
    padding: 32px 0px 32px 24px;
    display: flex;
    column-gap: 24px;
}

.information-leftSide {
    width: 60%;
}

.information-leftSide img {
    width: 100%;
}

.information-leftSide h2 {
    padding: 32px 0px 24px 0px;
}

.information-rightSide {
    width: 40%;
}

.information-rightSide-parent {
    display: flex;
    padding-left: 16px;
    width: 100%;
    align-items: center;
}

.information-rightSide-parent:nth-child(n + 2) {
    padding-top: 16px;
}

.information-rightSide-parent img {
    width: 35%;
    margin-right: 24px;
}

.information-rightSide-parent .child-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.information-rightSide-parent .child-content h4 {
    margin-bottom: 8px;
    font-size: large;
}

.information-rightSide-parent .child-content h7 {
    margin-top: 16px;
    color: #0A6EBD;
}

.course {
    padding: 32px 72px;
    background-color: #DDE6ED;
}

.course h2 {
    text-align: center;
    margin: 32px;
}

.course-container {
    display: flex;
    column-gap: 32px;
    margin-bottom: 32px;
    justify-content: center;
}

.box {
    width: 33%;
    background-color: white;
}

.box img {
    width: 100%;
}

.box-content {
    margin: 16px;
}